body {
	background-color: #000;
	background-size: initial;
	background-repeat: no-repeat;
	font-family: helvetica;
	color: #fff;
}

header input{
	margin: 20px 0px;
	color: #333;
}

ul {
	background-image: url(chelo.jpg);
	background-size: cover;
	color: #fff;
}

ul li {
	list-style: none;
}

ul li a{
	text-decoration: none;
}

img {
	width: 100%;
	max-height: 330px;
}

.pic {
	text-align: center;
}

.single-img{
	width: 100%;
	max-height: 500px;
}

.post{
	padding: 20px;
}

footer {
	text-align: center;
	margin-top: 40px;
	border-top: #333 solid 1px;
}